
@font-face{
    font-family: "mi fuente";
    src: url("../Font/street.otf");
}

body{
    background-image: url("../Font/fondo2.jpg");
    background-size: cover;
   

}

h1{
    font-family: "mi fuente", sans-serif;
    
    
    color: crimson;
    font-size: 46px;
    text-align: center;
}

table{
    width: 600px;
    height: 800px;
    border-width: 10px;
    border-style: outset;
    border-color: rgb(237,175,5);
    border-radius: 10px;
    background-color: black;
    margin: auto;
}
th{
    background-image: url("../img/fondocabecera.jpg");
    background-size: cover;
    background-position: center;
    font-family: "mi fuente";
    color: whitesmoke;
    font-size: 40px;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  
}

td{
    width: 40px;
    height: 45px;
    font-family: "mi fuente";
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 18px ;
    color: darkorange;
    text-align: center;
    
}

h2{
    font-family: "mi fuente";
    color: crimson;
    font-size: 28px;
    text-align: center;
    
}
form{
    width: 600px;
    height: 1100px;
    border: 10px outset rgb(237, 175, 5);
    color: white;
    border-radius: 10px;
    background-color: black;
    margin: auto;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
legend{
    font-family: "mi fuente";
    font-size: 14px;
    color: rgb(237, 175, 5);
}
label{
    display: block;
    margin: 10px;
}
textarea{
    width: 560px;
    height: 190px;

}
button{
    border: 1px solid crimson;
    background-color: crimson;
    font-family: "mi fuente";
    font-size: 18px;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-left: 65px;
    margin-bottom: 10px;
    margin-top: 30px;
}