body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f0f0;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .contenido {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(171, 194, 194);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .foto {
    width: 200px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  section {
    margin-bottom: 25px;
  }
  
  p {
    margin-bottom: 15px;
    color: #333;
  }
